beautifulsoup4==4.14.2
fastapi==0.118.0
html5lib==1.1
jinja2==3.1.6
langchain==0.3.27
langchain-astradb==0.6.1
langchain_core==0.3.78
langchain-google-genai==2.1.12
langchain-groq==0.3.8
lxml==6.0.2
python-dotenv==1.1.1
python-multipart==0.0.20
selenium==4.36.0
streamlit==1.50.0
undetected-chromedriver==3.5.5
uvicorn==0.37.0
structlog==25.4.0
langgraph==0.6.8
ragas==0.3.6
langchain-mcp-adapters==0.1.11
mcp==1.16.0
ddgs==9.6.0
langchain-openai==0.3.34
